@font-face { font-family: Pinch; src: url('CHEVYRAY_-_PINCH.TTF'); } 

.containerRoot {
    --grid-cols: 1;
    --grid-rows: 1;
    
    transform: scale(0.5, 0.5);
    transform-origin: top;
    width: 50%;
}
  
.container {
    /* display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); */
    width: 150vw;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    padding: 1em;
    /* border: 1px solid #ddd; */
    text-align: center;
}

html {
    background-color: black;
    color: #81b5ff;
    font-family: Pinch;
}

.parent {
    display: grid;
    /* grid-template-columns: 7fr 2.4fr repeat(6, 0.6fr);
    grid-template-rows: repeat(7, 1fr) 2fr; */
    grid-template-columns: 168px 180px repeat(6, 20px);
    grid-template-rows: repeat(7, 24px) 48px;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    /* width: 410px;
    height: 200px; */
    aspect-ratio: 410/200;
    
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    
    /* background-color: rgb(39, 76, 108); */
    border-radius: 10px;
    border: 3px solid #3a67cc;
    background-color: #060326;
    padding: 5px;
}


.modnameLabel { width: 100%; text-align: right; font-size: 24px; user-select: none; }
.statLabel { text-align: right; font-size: 24px; user-select: none; }
.profilePic { height: 100%; }
.div3 { color: #c651f6; }
.div10 { color: #44a5fc; }
.div17 { color: #ff9d77; }
.div24 { color: #6f72e5; }
.div31 { color: #5df7a1; }
.div38 { color: #f35281; }
.div45 { color: #d4e8f4; }
.thingIcon { height: 100%; }
.div2 { justify-content: left; align-items: left; display: flex; }
.div1 { justify-content: left; align-items: left; display: flex; }
.singleStatBarBlock { font-size: 24px; user-select: none; }

.div1 { grid-area: 1 / 1 / 8 / 2; }
.div2 { grid-area: 8 / 1 / 9 / 9; }
.div3 { grid-area: 1 / 2 / 2 / 3; }
.div4 { grid-area: 1 / 3 / 2 / 4; }
.div5 { grid-area: 1 / 4 / 2 / 5; }
.div6 { grid-area: 1 / 5 / 2 / 6; }
.div7 { grid-area: 1 / 6 / 2 / 7; }
.div8 { grid-area: 1 / 7 / 2 / 8; }
.div9 { grid-area: 1 / 8 / 2 / 9; }
.div10 { grid-area: 2 / 2 / 3 / 3; }
.div11 { grid-area: 2 / 3 / 3 / 4; }
.div12 { grid-area: 2 / 4 / 3 / 5; }
.div13 { grid-area: 2 / 5 / 3 / 6; }
.div14 { grid-area: 2 / 6 / 3 / 7; }
.div15 { grid-area: 2 / 7 / 3 / 8; }
.div16 { grid-area: 2 / 8 / 3 / 9; }
.div17 { grid-area: 3 / 2 / 4 / 3; }
.div18 { grid-area: 3 / 3 / 4 / 4; }
.div19 { grid-area: 3 / 4 / 4 / 5; }
.div20 { grid-area: 3 / 5 / 4 / 6; }
.div21 { grid-area: 3 / 6 / 4 / 7; }
.div22 { grid-area: 3 / 7 / 4 / 8; }
.div23 { grid-area: 3 / 8 / 4 / 9; }
.div24 { grid-area: 4 / 2 / 5 / 3; }
.div25 { grid-area: 4 / 3 / 5 / 4; }
.div26 { grid-area: 4 / 4 / 5 / 5; }
.div27 { grid-area: 4 / 5 / 5 / 6; }
.div28 { grid-area: 4 / 6 / 5 / 7; }
.div29 { grid-area: 4 / 7 / 5 / 8; }
.div30 { grid-area: 4 / 8 / 5 / 9; }
.div31 { grid-area: 5 / 2 / 6 / 3; }
.div32 { grid-area: 5 / 3 / 6 / 4; }
.div33 { grid-area: 5 / 4 / 6 / 5; }
.div34 { grid-area: 5 / 5 / 6 / 6; }
.div35 { grid-area: 5 / 6 / 6 / 7; }
.div36 { grid-area: 5 / 7 / 6 / 8; }
.div37 { grid-area: 5 / 8 / 6 / 9; }
.div38 { grid-area: 6 / 2 / 7 / 3; }
.div39 { grid-area: 6 / 3 / 7 / 4; }
.div40 { grid-area: 6 / 4 / 7 / 5; }
.div41 { grid-area: 6 / 5 / 7 / 6; }
.div42 { grid-area: 6 / 6 / 7 / 7; }
.div43 { grid-area: 6 / 7 / 7 / 8; }
.div44 { grid-area: 6 / 8 / 7 / 9; }
.div45 { grid-area: 7 / 2 / 8 / 3; }
.div46 { grid-area: 7 / 3 / 8 / 4; }
.div47 { grid-area: 7 / 4 / 8 / 5; }
.div48 { grid-area: 7 / 5 / 8 / 6; }
.div49 { grid-area: 7 / 6 / 8 / 7; }
.div50 { grid-area: 7 / 7 / 8 / 8; }
.div51 { grid-area: 7 / 8 / 8 / 9; }
    





/* SIDEBAR */
/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
 /* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    /* width: 160px; Set the width of the sidebar */
    width: 10vw;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #060326; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenavLeft {left: 0; border-right: 3px solid #3a67cc;}
  .sidenavRight {right: 0px; border-left: 3px solid #3a67cc;}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 